p.
  V tomto příkladu budeme implementovat grafickou kalkulačku a podíváme se více do prohlížeče, kde budeme pracovat s DOMem.
  Přesto se budeme snažit, aby aplikace zůstala stále dobře strukturovaná a testovatelná.

ul
  li Budeme podstatnou část psát opět proti testům a až po jejich splnění se podíváme na UI.
  li Zkusíme si také jeden z testů vytvořit.

h4 Karma runner
ul
  li V jedné konzoli nechejte běžet #[strong npm start] - webserver s cvičeními
  li V druhé spusťte příkaz:

snippet.
  npm run tests-dom

h3 1 - Oživení displaye

h4 1.1 - Prohlédněte si aplikaci

p Kalkulačka je tvořena částí pro kalkulace (složka #[em calcluations]) a oddělenými komponentami (složka #[em ui-components])

  ul
    li calculations/
      ul
        li #[em calculator.js] - #[strong Calculator], třída pro výpočty
        li #[em operations.js] - jednotlivé početní operace #[strong Add], #[strong Sub], #[strong Mul], #[strong Div]
    li ui-components/
      ul
        li #[em displaj.js] - #[strong Display], komponenta pro zobrazení stavu výpočtu
        li #[em buttonControls.js] - #[strong ButtonControls] - komponenta, která všechno spojuje dohromady a tvoří ovládací prvek kalkulačky

p Prohlédněte si třídu displaye v #[em display.js], ten má za úkol vizualizovat data a zapouzdřit práci s elementem.

h4 1.2 - Vytvořte mock

p.
  Než komponentu #[strong Display] dokončíme, měli bysme její chování pokrýt testy. Abychom netestovali práci se skutečným html, použijeme místo elementu mock.

ul
  li Před implementací chceme v #[em display.spec.js] otestovat chování displaye k elementu.
  li Na fiktivním elementu chceme ověřit, že byla nastavena iniciální hodnota.
  li.task Vytvořte tedy přímo v testu nebo v #[strong beforeEach] mock, který bude mít metodu #[strong setAttribute] a přiřaďte ho do #[strong this.element]

hint Pro generování mocku použijte například #[strong jasmine.createSpyObj("název", [metody])]

solution
  :highlight-js
    beforeEach(function() {
      this.element = jasmine.createSpyObj("element", ['setAttribute']);
    })

h4 1.3 - Předejte mock do Displaye
ul
  li Nyní vytvořte v testu #[strong renderuje data do elementu] novou instanci #[strong Displaye] a předejte mu vytvořený mock v parametru

solution
  :highlight-js
    const display = new Display(this.element);

h4 1.4 - Nastavte hodnotu displaye
p Test kontroluje volání metody na elementu při vytvoření instance displaye. Můžeme tedy začít s implementací

ul
  li.task Uvnitř metody #[strong render_] v #[em display.js] nastavte elementu jeho atribut #[strong value] na #[strong this.value_]
    ul
      li Pro nastavení atributu se používá metoda #[strong setAttribute("key", "value")]

solution
  :highlight-js
    this.element_.setAttribute("value", this.value_);

tests(todo="1.4")

h4 1.5 - Použijte display ve view

p.
  Nyní jste pomocí TDD oživili objekt #[strong Display], vyzkoušíme jej ještě i přímo ve view.


ul
  li.task Prohlédněte si #[em index.html], volání funkce #[strong initCalculator] a jak jsou získávány elementy
  li.task v #[em index.js] ve funkci #[strong initCalculator] instancujte Display a předejte mu #[strong displayElement]

solution
  :highlight-js
    let display = new Display(displayElement);

ul
  li Přidaný #[strong Display] se na UI projeví tak, že se v jeho poli objevila #[strong 0]

h3 2 - Reakce na kliknutí na tlačítko
h4 2.1 - Reagujte na kliknutí

ul
  li Nyní budeme v souboru #[em buttonControls.js] oživovat tlačítka.
  li První co potřebujeme udělat je poslouchat události kliknutí, můžeme poslouchat na elementu celé klávesnice, kterou reprezentuje parametr konstruktoru #[strong buttonElement]
  li.task Poslouchejte tedy na #[strong buttonElement], událost kliknutí a zavolejte metodu #[strong processButton]

hint Pro sledování události se používá metoda&nbsp;
  strong addEventListener("událost", metoda).
  br
  | Nezapomeňte, že musíte zachovat kontext volání pomocí arrow function nebo metody #[strong bind].

solution
  :highlight-js
    buttonsElement.addEventListener("click", (event) => this.processButton(event));
  hr
  strong nebo
  hr
  :highlight-js
    buttonsElement.addEventListener("click", this.processButton.bind(this));

tests(todo="2.1")

h3 3 - Implementujte reakci na tlačítka
ul
  li Reakci na kliknutí na tlačítko budeme implementovat právě v metodě #[strong processButton] v #[em buttonControls.js]

h4 3.1 - Reakce na výběr čísla
ul.task
  li Získejte z události objekt který ji vyvolal - tím může být právě tlačítko
  li Získejte z tlačítka #[strong atribut] #[strong value] a s ním zavolejte metodu #[strong processNumber_]

hint Původce události najdete ve vlastnosti #[strong event.target]. Atribut získáte pomocí #[strong getAttribute(key)].
solution
  :highlight-js
    processButton(event) {

      const button = event.target;

      const value = button.getAttribute("value");
      this.processNumber_(value);

    }

tests(todo="3.1")

h4 3.2 - Reakce na výběr operace
ul
  li Mimo čísel může uživatel stisknout tlačítko akce, to se pozná podle jeho css třídy #[strong operation]. Název operace je poté uložen ve vlastnosti #[strong name].
  li.task V případě že má tlačítko třídu #[strong operation] získejte jeho vlastnost name a zavolejte s ním metodu #[strong processOperation_]
  li.task V opačném případě kliknutí zpracovávejte nadále jako číslo

hint Seznam tříd elementu je uložen ve vlastnosti #[strong classList], můžete na něm volat metodu #[strong contains(trida)].
  br
  | Vlastností name není myšlen atribut, ale opravdu vlastnost objektu - #[strong element.name]
solution
  :highlight-js
    processButton(event) {

      const button = event.target;

      if (button.classList.contains("operation")) {
        this.processOperation_(button.name);
      } else {
        const value = button.getAttribute("value");
        this.processNumber_(value);
      }
    }

tests(todo="3.2")

h4 3.3 - ProcessButton by měl brát v potaz pouze kliknutí na tlačítko
ul
  li Metoda processButton by měla ignorovat kliknutí na jiný element než tlačítko
  li.task Kontrolujte že #[strong type], je opravdu pouze #[strong button]

solution
  :highlight-js
    processButton(event) {
      const button = event.target;

      if (button.type !== "button") {
        return;
      }

      if (button.classList.contains("operation")) {
        this.processOperation_(button.name);
      } else {
        const value = button.getAttribute("value");
        this.processNumber_(value);
      }
    }


tests(todo="3.3")

h3 4 - Použijte ButtonControls ve view

p Nyní vytvoříme v #[em index.js] instanci ovladače abychom jej mohli vyzkoušet v prohlížeči

ul
  li.task Podívejte se na konstruktor #[strong ButtonControls] v #[em buttonControls.js], jaké požaduje parametry.
  li.task v #[em index.js] vytvořte novou instanci #[strong ButtonControlls], konstruktoru předejte potřebné objekty

solution
  :highlight-js
    const controls = new ButtonControls(buttonsElement, calculator, display);

h3 5 - Vyzkoušejte UI
ul.task
  li V tuto chvíli si můžete celou kalkulačku vyzkoušet na UI.
  li Podívejte se na zbylé části kódu a prohlédněte si také implementaci testů

tests-results
